:root {
  --light: #f8f9f8;
  --light-accent: #a9c1da;
  --main: #334986;
  --dark-accent: #5196ca;
  --dark: #27213c;
  --darkest: #100e1a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
  background-color: var(--dark);
  width: 100%;
  min-width: 360px;
}
a {
  color: var(--light);
}
header {
  color: var(--light);
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  background-color: var(--dark);
}
main {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-accent);
  background-image: linear-gradient(to bottom, #27213ccf, #27213c10);
}
select {
  color: var(--light);
  border: none;
  background-color: transparent;
  text-decoration: dashed;
  font-size: inherit;
  box-sizing: content-box;
  border-bottom: 2px dashed currentColor;
  line-height: 0.85;
}
select + select {
  margin-left: 0.5em;
}
select > option {
  color: initial;
}
#sum {
  display: none;
  font-weight: 800;
  color: var(--light);
}
#sum,
#loader {
  font-size: 36pt;
}
@media only screen and (min-width: 768px) {
  #sum,
  #loader {
    font-size: 72pt;
  }
}
.calculator {
  background-color: var(--light);
  color: var(--dark);
  padding: 2rem 1rem;
}
.accent {
  color: var(--main);
}
footer {
  color: var(--light);
  background-color: var(--dark);
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
}
hr {
  color: var(--main);
  width: 50%;
}

.background {
  display: block;
  position: fixed;
  z-index: -1;
}
.container {
  max-width: 768px;
  margin: 0 auto;
}
.logo {
  padding: 1rem;
}
.currency {
  text-transform: capitalize;
}
